<ion-view title="Main page" id="page7">
    <ion-content padding="false" class="has-header">
        <ion-list id="mainPage-list3">
            <ion-item class="item-avatar dark" id="mainPage-list-item11" ui-sref="tabsController.settings">
                <img src="img/F1qvOrsBR7W449sH6wGg_16000486.jpg">
                <h2dark>Myprofile666</h2dark>
            </ion-item>
            <ion-item class="item-avatar" id="mainPage-list-item10">
                <img src="img/FjWBZ8RLTw6ZXvQDRsrc_4.jpg">
                <h2>SweetCat</h2>
            </ion-item>
        </ion-list>
        <div>
            <img src="img/WW5NGuoMT9eZfZWzZU8f_photo-1438201743149-3cc16cd4cddd.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="mainPage-button-bar1" class="button-bar">
            <button id="mainPage-button1" class="button button-light  button-block icon-left ion-heart">1</button>
            <a ui-sref="tabsController.messages" id="mainPage-button2" class="button button-light  button-block icon ion-ios-email"></a>
            <button id="mainPage-button3" class="button button-light  button-block icon ion-reply"></button>
        </div>
        <div id="mainPage-markdown2" style="color:#000000;">
            <p>
                <strong>Julie:</strong>Awesome photo!</p>
        </div>
        <div id="mainPage-markdown3" style="color:#000000;">
            <p>
                <strong>Bond007:</strong>Amazing view</p>
        </div>
        <ion-list id="mainPage-list7">
            <ion-item class="item-avatar" id="mainPage-list-item17">
                <img src="img/aZ9teD2tQyGgPSi5IJhS_3.jpg">
                <h2>Brandon2006</h2>
            </ion-item>
        </ion-list>
        <div>
            <img src="img/fLliH7hHRpucguNB9qmZ_Common-dog-behaviors-explained.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="mainPage-button-bar2" class="button-bar">
            <button id="mainPage-button4" class="button button-light  button-block icon-left ion-heart">18</button>
            <a ui-sref="tabsController.messages" id="mainPage-button5" class="button button-light  button-block icon ion-email"></a>
            <button id="mainPage-button6" class="button button-light  button-block icon ion-reply"></button>
        </div>
        <div id="mainPage-markdown1" style="color:#000000;">
            <p>
                <strong>Alan:</strong>Great dog. Are you travelling now?</p>
        </div>
    </ion-content>
</ion-view>