<ion-view title="Search" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="search-form5" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div id="search-button-bar3" class="button-bar">
            <button id="search-button14" class="button button-stable  button-block">People</button>
            <button id="search-button9" class="button button-light  button-block">Posts</button>
        </div>
    </ion-content>
</ion-view>